In [12]:
import pandas as pd
import geopandas as gpd

from pyproj import Transformer
from shapely import Point

In [5]:
route_df = pd.read_csv('./bus_route.csv')
addr_df = gpd.read_file('../geo/hang_jeong_gu.geojson')

In [40]:
target_crs = addr_df.crs

transformer = Transformer.from_crs(target_crs, target_crs, always_xy=True)
locations = [Point(transformer.transform(lat, lon)) for lat, lon in zip(route_df['latitude'], route_df['longitude'])]

In [60]:
route_df['sido'] = [addr_df.loc[addr_df['geometry'].contains(point), 'sido'].iloc[0]
                    if not addr_df.loc[addr_df['geometry'].contains(point)].empty
                    else ''
                    for point in locations]

In [61]:
route_df

,route_id,route_name,route_order,node_id,ars_id,station_name,longitude,latitude,sido
0,100100288,5714,1,213000455,38629,광명공영차고지기점,126.872566,37.458065,
1,116000006,703,1,219000691,36022,경남아너스빌.탄현역,126.764273,37.693393,
2,100100398,9703,1,219000691,36022,경남아너스빌.탄현역,126.764273,37.693393,
3,107900016,성북14-2,1,107900344,8832,래미안장위퍼스트하이아파트,127.050552,37.619504,서울
4,124900002,강동01,1,124900138,25610,지식산업센터,127.159978,37.565373,서울
...,...,...,...,...,...,...,...,...,...
46649,100100589,N61,185,114000125,15228,신정학마을아파트,126.843963,37.507421,서울
46650,100100106,703,185,229000274,63913,문산수억중고등학교,126.803699,37.853013,
46651,100100589,N61,186,114000257,15362,신정현대아파트.서부트럭터미널,126.842007,37.509011,서울
46652,100100106,703,186,229001040,63911,자이안트부대,126.797854,37.855896,
46653,100100589,N61,187,114000267,15373,양천공영차고지,126.837219,37.508493,서울